doctype html
html
    head
        title="Lostora"
        meta(charset="utf-8")
        script(src="Lostora.js")
    body
        h1 Lostora
        h2 A localStorage handler to support Object or JSON
        h3 Usage
        h4 Lostora.set(key,value)
        h4 Lostora.get(key)
        h4 Lostora.remove(key)
        h4 Lostora.clear()
        h4 Lostora.add(key,value)
        h4 Lostora.update(key,value)
        h4 Lostora.exsit(key)
        h4 Lostora.import(json,scope)
        h4 Lostora.all()

