doctype html
html
    head
        title="loca$torage"
        meta(charset="utf-8")
        script(src="loca$torage.js")
    body
        h1 loca$torage
        h2 A localStorage handler to support Object or JSON
        h3 Usage
        h4 loca$torage.set(key,value)
        h4 loca$torage.get(key)
        h4 loca$torage.remove(key)
        h4 loca$torage.clear()
        h4 loca$torage.add(key,value)
        h4 loca$torage.update(key,value)
        h4 loca$torage.exsit(key)
        h4 loca$torage.import(json,scope)
        h4 loca$torage.all()

